#main{
  padding: 1%;
}
.left{
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.right {
  width: 50%;
  box-sizing: border-box;
  float: right;
}
body > div{
  border-top: 2px solid black;
}
.ocean {
  text-align: center
}
body{
  background-image: url(http://2.bp.blogspot.com/-sJVQvPKoJNA/UJh9HqxNjOI/AAAAAAAABQ8/IlquZdWrTGM/s1600/subtlenet2_@2X.png);
}